<div class="d-flex align-items-center">
  <h3>グループを探す</h3>
  <div class="ml-auto boards__linkBox">
  </div>
</div>

<%#createアクション通過時に生成される:noticeを表示%>
<% if flash[:notice] %>
  <div class="alert alert-danger"><%= flash[:notice] %></div>
<% end %>

<%#row を使用したい場合%>
  <div class="row">
    <% @groups.each_with_index do |group,i| %>
    <div class="col-4">
      <div class="card">
        <img src= <%="/assets/cuba#{i+1}.jpeg"%> class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= link_to group.name, group_path(group) %></h5>
          <p class="card-text"><%= group.introduction %></p>
          <p class="card-text"><small class="text-muted"><%= "#{i}" %></small></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>