<div class="d-flex align-items-center">
  <h1><%= @group.name %></h1>
  <div class="ml-auto boards__linkBox">
  </div>
</div>

<%#Groupの詳細を表示%>
<table class="table table-hover boards__table mt-3">
  <td><%= @group.name %></td>
  <td><%= @group.introduction %></td>
  <td><%= link_to '編集', edit_group_path(@group), class: 'btn btn-outline-info'%></td> <%#将来的に幹事のみ実行に変更%>
  <td><%= button_to '削除', group_path(@group), class: 'btn btn-outline-danger', method: :delete %></td> <%#ここも%>
</table>