<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-lg-6" style="max-width: 250px;">
      <img src= <%="/assets/group#{1}.png"%> class="card-img" alt="...">
    </div>
    <div class="col-lg-6">
      <div class="card-body">
        <h4 class="card-title"><%= @group.name %></h4>
        <p class="card-text"><%= @group.introduction %></p>

        <%# current_userを判別して分岐 %>
          <%# 管理者 %>
            <% if @admin_user == current_user %>
              <div class="row form-group mt-3">
                <div class="col-lg-11"></div>
                <div class="col-lg-1"><%= link_to '編集', edit_group_path(@group), class: 'btn btn-outline-info'%></div>
              </div>
              <div class="row form-group mt-3">
                <div class="col-lg-11"></div>
                <div class="col-lg-1"><%= button_to '削除', group_path(@group), class: 'btn btn-outline-danger', method: :delete %></div>
                <div class="col-lg-4"></div>
              </div>
          <%# ユーザー %>
            <% else %>
              <div class="row form-group mt-3">
                <div class="col-lg-11"></div>
                <div class="col-lg-1"><%= link_to '申請', edit_group_path(@group) , class: 'btn btn-outline-info'%></div> 
                <div class="col-lg-4"></div>
              </div>
            <% end %>
      </div>
    </div>
  </div>
</div>

<%#3個分のタブ%>
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="item1-tab" data-toggle="tab" href="#item1" role="tab" aria-controls="item1" aria-selected="true">紹介</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="item2-tab" data-toggle="tab" href="#item2" role="tab" aria-controls="item2" aria-selected="false">日程</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="item3-tab" data-toggle="tab" href="#item3" role="tab" aria-controls="item3" aria-selected="false">メンバー</a>
  </li>

</ul>

<!-- タブ部分 (各tabをpartialでわけるべき?) -->
<div class="tab-content">
  <%#グループ紹介ページを表示%>
    <div class="tab-pane fade show active" id="item1" role="tabpanel" aria-labelledby="item1-tab">
      <%= render partial: 'groups/group_show/detaile', locals: { group: @group } %>
    </div>
  <%#日程ページを表示%>
    <div class="tab-pane fade" id="item2" role="tabpanel" aria-labelledby="item2-tab">
    <%= render partial: 'groups/group_show/schedule', locals: { group: @group } %>
    </div>
  <%#メンバーページを表示%>
    <div class="tab-pane fade" id="item3" role="tabpanel" aria-labelledby="item3-tab">
    <%= render partial: 'groups/group_show/member', locals: { group: @group } %>
    </div>
</div>