<%#申請アクション通過時に生成される:noticeを表示%>
<% if flash[:notice] %>
  <div class="alert alert-danger"><%= flash[:notice] %></div>
<% end %>

<h3 class="my-3">マイページ</h3>
<h3 class="my-3">編集</h3>
<%= form_for @user do |f| %>
  <div class="row form-group mt-3">
    <div class="col-lg-4"></div>
    <div class="col-lg-2"><%= f.label :name, 'name' %></div>
    <div class="col-lg-6"><%= f.text_field :name %></div>
  </div>

<%# ここから画像をアップロード %>
  <div class="row form-group mt-3">
    <div class="col-lg-4"></div>
    <div class="col-lg-2"><%= f.label :image, '画像' %></div>
    <div class="col-lg-6"><%= f.file_field :image %></div>
    <%#= f.hidden_field :image_cache %>
      <div class="col-lg-6" style="max-width: 150px;">
        <%= image_tag @user.image.thumb.url if @user.image? %>
      </div>
  </div>

  <div class="row">
    <div class="col-lg-12", style="text-align:center;">
      <%= f.hidden_field :is_avtive, value: "有効" %>
      <%= f.submit "保存" ,class:"btn btn-info btn-lg",
        style:"padding:5px 30px;margin-bottom:30px;" %>
    </div>
  </div>
<% end %>