<!-- ユーザー情報を表示 -->
<div class="card my-3" style="max-width: 500px;">
  <%= link_to user_path(user) do %>
  
  <div class="row no-gutters">
    <%# 画像ファイルの有無で処理を分岐 %>
    <div class="col-6" style="max-width: 150px;">
      <%# 有る場合 %>
      <% if user.image? %>
        <%= image_tag user.image.thumb.url, class: "card-img", alt:"..." %>
      <%# 無い場合 %>
      <% else %>
          <img src= <%="/assets/gest.png"%> class="card-img" alt="...">
      <% end %>
    </div>

    <div class="col-6">
      <div class="card-body">
          <h4 class="card-title"><%= user.name %></h4>
          <p class="card-text"><%= user.email %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>

<%# current_userを判別して分岐 %>
<%# 自分自身の場合 %>
  <% if @user.id == @current_user.id %>
    <div class="row form-group mt-3">
      <div class="col-lg-11"></div>
      <div class="col-lg-1"><%= link_to '編集', edit_user_path(@user), class: 'btn btn-outline-info'%></div>
    </div>
    <div class="row form-group mt-3">
      <div class="col-lg-11"></div>
      <div class="col-lg-1"><%= link_to '削除', user_path(@user), class: 'btn btn-outline-danger', method: :delete %></div>
      <div class="col-lg-4"></div>
    </div>
<%# 他のユーザの場合 %>
  <% else %>
  <% end %>