<h3 class="my-3">グループ紹介</h3>

<%# 紹介のフォーマット %>
<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-lg-6" style="max-width: 250px;">
      <%# 画像が有る場合 %>
      <% if @group.image? %>
        <%= image_tag @group.image.thumb.url, class: "card-img", alt:"..." %>
      <%# 画像が無い場合 %>
      <% else %>
        <img src= <%="/assets/cuba#{1}.jpeg"%> class="card-img" alt="...">
      <% end %>
    </div>
    <div class="col-lg-6">
      <div class="card-body">
        <h4 class="card-title"><%= @group.name %></h4>
        <p class="card-text"><%= @group.introduction %></p>
      </div>
    </div>
  </div>
</div>

<%# current_userを判別して分岐 %>
  <%# 管理者 %>
    <% if @admin_user == current_user %>
      <div class="row form-group mt-3">
        <div class="col-lg-11"></div>
        <div class="col-lg-1"><%= link_to '編集', edit_group_path(@group), class: 'btn btn-outline-info'%></div>
      </div>
      <div class="row form-group mt-3">
        <div class="col-lg-11"></div>
        <div class="col-lg-1"><%= link_to '削除', group_path(@group), class: 'btn btn-outline-danger', method: :delete %></div>
      </div>
  <%# ユーザー %>
    <% else %>
    <%# current_userをさらに判別して分岐 %>
      <%# グループ所属済みなら %>
      <% if @group.users.ids.include?(current_user.id) %>
        <div class="row form-group mt-3">
          <div class="col-lg-11"></div>
          <div class="col-lg-1"><%= link_to '退会', root_path , class: 'btn btn-outline-danger'%></div> 
        </div>
      <%# グループ未所属なら %>
      <% else %>
        <div class="row form-group mt-3">
          <div class="col-lg-11"></div>
          <div class="col-lg-1"><%= link_to '申請', new_group_join_path(@group) , class: 'btn btn-outline-info'%></div> <%# ↑ 2/6 追記 join controller 経由に移行 %>
        </div>
      <% end %>
    <% end %>