<h3 class="my-3">日程</h3>

<%# 日程のフォーマット %>
<div class='text-nowrap table-responsive'>
  <table class="table table-hover boards__table table-bordered">
    <thead class="thead-light">
      <tr>
        <th>日付</th>
        <th>時間</th>
        <th>場所</th>
        <th>備考</th>
        <% group.users.each_with_index do |group_user| %>
          <th><%= link_to group_user.name, user_path(group_user) %></th> 
        <% end %>
        <%# ここから横幅を意図的にひろげるダミーデータ%>
        <% (1..20).each do |i| %>
          <th><%= "ダミー#{i} "%></th>
        <% end %>
        <%# ここから横幅を意図的にひろげるダミーデータ%>
      </tr>
    </thead>
    <tbody>
      <% group.events.each_with_index do |group_event| %>
        <tr>
          <td><%= link_to group_event.date.strftime( "%-m/%d"), group_event_path(group,group_event)  %></td>
            <% time_s = group_event.starttime.strftime( "%H:%M") %> <%# 開始時間をtime_sに格納%>
            <% time_f = group_event.starttime.strftime( "%H:%M") %> <%# 開始時間をtime_fに格納%>
          <td><%= "#{time_s}~#{time_f}" %></td>
          <td><%= group_event.place %></td>
          <td><%= group_event.remarks %></td>
          <% group.users.each_with_index do |group_user| %> 
          <%# ここでgroup_user.idをゲット %>
          <%# これをつかってevent.users.find_by(group_user.id) でU_E_relations.idが一意に収束 >
          <%# Answer.find_by(U_E_relations.id) で完全に一意に収束できる? %>
            <td></td>
          <% end %>
          <%# ここから横幅を意図的にひろげるダミーデータ%>
          <% (1..20).each do |i| %>
            <td></td>
          <% end %>
          <%# ここから横幅を意図的にひろげるダミーデータ%>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%# 新規予定作成ボタン %>
  <div class="row form-group mt-3">
    <div class="col-lg-12"><%= link_to '+', new_group_event_path(@group), class: 'btn btn-outline-info'%></div>
  </div>
</div>