<!-- ここから幹事以外の紹介 -->
<h3 class="my-3">幹事</h3>
<div class="card my-3" style="max-width: 500px;">
  <%= link_to group_path(group) do %>
  <div class="row no-gutters">
    <div class="col-lg-6" style="max-width: 150px;">
      <img src= <%="/assets/cuba#{1}.jpeg"%> class="card-img" alt="...">
    </div>
    <div class="col-lg-6">
      <div class="card-body">
        <h4 class="card-title"><%= group.name %></h4>
        <p class="card-text"><%= group.introduction %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>
<!-- ここから幹事以外の紹介 -->
<h3 class="my-3">メンバー</h3>
<% (1..10).each do |i| %>
  <%= link_to group_path(group) do %>
    <div class="card my-3" style="max-width: 500px;">
      <div class="row no-gutters">
        <div class="col-lg-6" style="max-width: 150px;">
          <img src= <%="/assets/cuba#{1}.jpeg"%> class="card-img" alt="...">
        </div>
        <div class="col-lg-6">
          <div class="card-body">
            <h4 class="card-title"><%= group.name %></h4>
            <p class="card-text"><%= group.introduction %></p>
          </div>
        </div>
      </div>
    </div>  
  <% end %>
<% end %>

