<div class="d-flex align-items-center">
  <h3><%= @group.name %></h3>
</div>

<%# ここにメモを記述 %>
<a class="nav-link"  data-method="delete" href="<%= login_path %>">ログアウト</a> 

<%# グループ参加申請の時にこの処理を記述 %>
<% if logged_in? %>
  <%= render 'groups/logged_in' %>
<% else %>
  <%= render 'groups/not_logged_in' %>
<% end %>

<%# each do %>
<% (1..5).each do |i| %>
<% end %>

<% @users.each_with_index do |user,i| %>
<% end %>

<%# テンプレ %>
docker-compose run web bundle exec rails g model <model(中)> <model(多)1>:references <model(多)2>:references
docker-compose run web bundle exec rails g model user_group_relation user:references group:references

<%# テンプレ %>
AddColumnNullToGroups

<%# ここからuser情報を送る %>
  <p>所属するメンバー</p>
   <div class="field">
     <br>
<%#collection_check_boxesを利用 %>
    <%#= collection_check_boxes(:group, :user_ids, User.all, :id, :name ) do |t|  %>
      <%# t.label { t.check_box + t.text } %>
    <%# end %> 
  </div>
   <br>

<!-- groupとuserの紐付けのテスト -->
<% group.users.each do |group_user| %>
<%= group_user.name %>
<% end %>

<!-- User controller -->
docker-compose exec web rails g controller Users new show edit destroy

docker-compose run web rails g migration AddIndexToGroups

Group.where(id: 127..133).destroy_all

docker-compose run web rails g migration ChangeAdminuser_idToGroups

モデル名.columns_hash['カラム名'].type

<!-- Event -->

docker-compose run web bundle exec rails g model event group:references date:date start-time:time finish-time:time place:string maru:string batu:string remarks:text

docker-compose exec web rails g controller Events new edit show

docker-compose exec web rails destroy controller Event

<%# groupが作ったeventが拾えるかのテスト %>
<% group.events.each_with_index do |group_event| %>
  <th><%= group_event.date %></th> <br> 
  <th><%= group_event.date.strftime( "%-m/%-d") %></th> <br>
  <th><% time_s = group_event.starttime.strftime( "%-H:%-M") %></th>
  <th><% time_f = group_event.starttime.strftime( "%-H:%-M") %></th>
  <th><%= "#{time_s}~#{time_f}" %></th> <br>
<% end %>

<%# current_userを判別して分岐 %>
  <%# 管理者 %>
    <% if @admin_user == current_user %>
      <td><%= link_to group_event.date.strftime( "%-m/%-d" ), group_event_path(group,group_event)  %></td>
  <%# ユーザー %>
    <% else %>
    <% end %>