<div class="d-flex align-items-center">
  <h3><%= @group.name %></h3>
</div>

<%#Groupの詳細を表示%>
<table class="table table-hover boards__table mt-3">
  <td><%= @group.name %></td>
  <td><%= @group.introduction %></td>
  <td><%= link_to '編集', edit_group_path(@group), class: 'btn btn-outline-info'%></td> <%#将来的に幹事のみ実行に変更%>
  <td><%= button_to '削除', group_path(@group), class: 'btn btn-outline-danger', method: :delete %></td> <%#ここも%>
</table>

<%# ここにメモを記述 %>
<a class="nav-link"  data-method="delete" href="<%= login_path %>">ログアウト</a> 

<%# グループ参加申請の時にこの処理を記述 %>
<% if logged_in? %>
  <%= render 'groups/logged_in' %>
<% else %>
  <%= render 'groups/not_logged_in' %>
<% end %>

<%# バッックアッップ %>
<% (1..5).each do |i| %>
<% end %>

<%# テンプレ %>
docker-compose run web bundle exec rails g model <model(中)> <model(多)1>:references <model(多)2>:references
docker-compose run web bundle exec rails g model user_group_relation user:references group:references
<%# テンプレ %>
AddColumnNullToGroups
<!-- ここから幹事以外の紹介 -->
<h3 class="my-3">メンバー</h3>
<% @users.each_with_index do |user,i| %>
  <%= link_to group_path(group) do %>
    <div class="card my-3" style="max-width: 500px;">
      <div class="row no-gutters">
        <div class="col-lg-6" style="max-width: 150px;">
          <img src= <%="/assets/cuba#{1}.jpeg"%> class="card-img" alt="...">
        </div>
        <div class="col-lg-6">
          <div class="card-body">
            <h4 class="card-title"><%= user.name %></h4>
            <p class="card-text"><%= user.email %></p>
          </div>
        </div>
      </div>
    </div>  
  <% end %>
<% end %>

<%# binding.pry %>


<%# ここからuser情報を送る %>
  <p>所属するメンバー</p>
   <div class="field">
     <br>
<%#collection_check_boxesを利用 %>
    <%#= collection_check_boxes(:group, :user_ids, User.all, :id, :name ) do |t|  %>
      <%# t.label { t.check_box + t.text } %>
    <%# end %> 
  </div>
   <br>

<!-- groupとuserの紐付けのテスト -->
<% group.users.each do |group_user| %>
<%= group_user.name %>
<% end %>

<!-- User controller -->
docker-compose exec web rails g controller Users new show edit destroy

docker-compose run web rails g migration AddIndexToGroups